@import './Vars.scss';
@import './Media.scss';

body {
    margin: 0px;
    font-family: $theme-font;
    text-shadow: rgba(0, 0, 0, 0.507) 0.1em 0.1em 0.1em;
    background-image: $main-color;
  }

*{
    box-sizing: border-box;
}

::placeholder {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.507) 0.1em 0.1em 0.1em;
}